.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding:10px;

    .header-content{
        text-align: center;
        place-content: center;

    }
    .logo-content{
        place-content: center;
    .logo{
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 20px;
        vertical-align: middle;
    }
}
    .company_name{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    .navlist{
        list-style: none;
        margin: 0;
        display: inline-flex;
        flex-wrap: wrap;
        font-size: 1rem;
        li{
            cursor: pointer;
            box-shadow: none;
            background-color: transparent;
            font-size: 1.1rem;
            padding: 25px;
            font-weight: 500;
        }
        li:hover{
            text-decoration: underline;
            text-underline-offset: 1.3rem;
        }
    }
    .user-section{
        place-content: center;
        .contact-button{
            background-color: #FDA13C;
            font-size: 0.938rem;
            font-weight: 400;
            color: white;
            border-radius: 7px 7px 7px 7px;
            padding: 18px 30px 18px 30px;
            box-shadow: none;
            border-style: none;
        }
    }    
    
}

.App {
    text-align: center;
    font-family: "Poppins", Sans-serif;
}