.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding:10px;

    .header-content{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .logo{
        width: 150px;
        height: 150px;
        text-align: center;
    }
    .company_name{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    .navlist{
        list-style: none;
        padding: 10px;
        margin: 0;
        display: inline-flex;
        flex-wrap: wrap;
        font-size: 1rem;
        li{
            cursor: pointer;
            box-shadow: none;
            text-decoration: underline;
            text-underline-offset: .3rem;
            background-color: transparent;
            font-size: 1.1rem;
            padding: 10px;
        }
    }
    .user-section{
        text-align: center;
        .user_profile{
            width: 70px;
            height: 80px;
        }
    }    
    
}
