.App {
  text-align: center;
  font-family: "Poppins", Sans-serif;
}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.about-content{
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: left;
  padding: 20px;
  font-family: Sans-serif;

}
.about-banner{
  width: 90%;
  border-radius: 40px;
}
.aboutusheading{
  color: #FDA13C;
  font-family: Sans-serif;
}
